
body {
    background: linear-gradient(to bottom, #f0b6df, #c602fc); /* Gradient dari pink ke ungu */
}

.content-wrapper {
    display: flex;
    justify-content: space-around; /* Menyimpan jarak antara elemen */
    align-items: center; /* Menyimpan elemen secara vertikal */
    height: 150vh; /*Mengisisi seluruh tinggi viewport*/
}

.card {
    flex-direction: column;
    padding: 20px;
    display: flex;
    border-radius: 30px;
    justify-content: center; 
    width: 280%; /* Lebar kartu */
    background-position: center; /*Menyimpan posisi latar belakang*/
}

.card img {
    width: 90%; /* Lebar gambar */
    border-radius: 100px; /* Mengurangi radius border untuk gambar */
    border: 10px solid #5b0062; /* Warna Border */
}

.login-form {
    width: 80%; /* Ukuran form login */
    padding: 30px;
    background: #d7bde6;
    border-radius: 10px; /*Mengatur radius border*/
    box-sizing: border-box; /*Menambahkan bayangan*/
    text-align: left; /*Menempatkan text berada di sebelah kiri*/
} 

